body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
   font-size: 50px;
}
.orange-color{
    color: yellow;
}
.fexible-container{
    display: flex;
    margin: 50px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 70%;
}
.link-here{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 8px 30px;
    color: wheat;
    font-weight: 700;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-bigger{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
   
}
.Experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full{
    border-left: 5px solid navy; 
}
#baby{
   border-left: 5px solid tomato; 
}

.nayok{
    text-align: center;
}